body {
  text-align: center;
  color: #36454F;
}

div.region a {
  color: #033257;
}

div.region a:hover, a:focus {
  text-decoration-style: dotted;
  color: #ff0000;
}

div.view-frontpage article.nohover {
  background-color: white;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

div.view-frontpage article.hover {
  background-color: #efefef;
  border-top: 4px solid #ff0000;
  border-bottom: 4px solid #ff0000;
}

nav#block-mainnavigation ul {
  text-align: center;
}

nav#block-mainnavigation li {
  display: inline;
}

header {
  border-bottom: 6px solid #009999;
}

main {
  border-top: 6px solid #ffaa00;
}

body {
  background-color: black;
}

div.container {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}
