body {
  text-align: center;
  color: #033257;
}

div.region a {
  color: #033257;
}

div.region a:hover, a:focus {
  text-decoration-style: dotted;
  color: red;
}



div.view-frontpage article.nohover {
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
}

div.view-frontpage article.hover {
  background-color: yellow;
  border: 2px solid #6A8BCC;
  border-radius: 8px;
}

nav#block-mainnavigation ul {
  text-align: center;
}

nav#block-mainnavigation li {
  display: inline;
}
