@media all and (min-width: 992px) {
  article.teaser div.field--name-field-image img {
    border-radius: 50%;
    border-color: #36454F;
    border-style: solid;
    height: 200px;
    width: 200px;
    border-width: 7px;
  }
}

article {
  margin-bottom: 20px;
}

article.teaser h2 {
  margin-top: 0px;
}

body.page-node-type-article div.region-content h1.page-header {
  border: 7px solid #36454F;
  margin-bottom: 0px;
  color: white;
  background: #36454F;
}

body.page-node-type-article div.field--name-field-image {
  border: 7px solid #36454F;
  margin-bottom: 7px;
  background: #36454F;
}

div.region-content h1.page-header {
  border-top: 7px solid #36454F;
  border-bottom: none;
  padding-top: 10px;
}

div.region-header {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 900;
}

a {
  color: #36454F;
}

a:hover {
  color: #36454F;
  border-bottom: px dotted red;
  text-decoration: none;
}
